/* mobile styles */
 #wrap { width:100%; margin-left:auto; margin-right:auto; overflow:hidden; }

  #header { background: url(../images/tunisia-pb.jpg) center top no-repeat inherit #000; width:100%;height:400px;position: inherit;}
  #logo h1 {font-family: 'Pacifico', cursive; font-size:35px;color:#EC2A32; padding:80px 0 30px 0; margin:0; font-weight:bold; text-align: center;}
  #logo p {text-align: center;font-size: 18px;color: #000;line-height: 20px;}
  .home #logo  {background: url(../images/tunisia-pb.jpg) center top fixed no-repeat #000; height: 100%;width: 100%;position: relative;}
  .home #logo h1  {font-family: 'Pacifico', cursive; font-size:35px;color:#EC2A32; padding:80px 0 30px 0; margin:0; font-weight:bold; text-align: center; }
  .home #logo p {text-align: center;font-size: 18px;color: #000;font-family: 'Raleway', sans-serif;text-transform: uppercase;}
  #logo p.social a {text-align: center;font-size: 18px;color: #000;font-family: 'Raleway', sans-serif;text-transform: uppercase; display: inline-block; }
  #logo p.social a:hover {color: #fff;}

  #nav { width:100%; background:#EB414E; height:auto; font-family: 'Raleway', sans-serif;text-transform: uppercase;position: relative;}
  #nav ul {list-style: none; height:auto;  margin:0 auto; padding:0px; clear:both;width: 100%;}
  #nav ul li {display: inline-block;  font-size: 10px;text-align: center;height: 50px;margin: 0;padding: 0;width: 23%;}
  #nav ul li a {display:block;text-decoration:none;line-height: 50px; }
  #nav ul li a:hover, #nav ul li.current-menu-item {background: #000;color:#EB414E; }
  li.menu-item-124 {display: none!important;}
  .home {height: 800px!important;}
  .home #copyright { clear:both; width:100%;height:150px;display:inline; margin:0;border-top: none;position: absolute;bottom: 0px; background: #fff;}
  .home #copyright p { padding-top:15px; color:#333; font-size:10px; }

  /* post index styles */ 
    #cat-wrap        { width:310px; display: block; margin:0 auto;position: relative;overflow: hidden;height: auto;}
  #post-area .post        { width:310px; margin:15px 0 0 0; position:relative; text-align: center;}
  #post-area .post .gridly-copy     { width:250px; margin:0 auto; overflow:hidden; clear:both;}
  #post-area .post .gridly-date     { width:150px;  color:#8e8e8e; font-size:11px;  border-bottom:1px dotted #cccccc; padding-bottom:0; padding-top:0; }
  #post-area .post .gridly-link     { width:100%;  color:#494e51;text-align: center;}



 .single-post .type-post { width:310px;}
 .single-post .type-post .gridly-copy { width:290px;}
 .single-post .type-post img { width:290px; height:inherit;}
 
 .type-page { width:310px;}
 .type-page .gridly-copy { width:290px;}
 .type-page img { width:290px; height:inherit;}
 
 #comment-form { width:285px; }
